<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Universal React Tester</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css"></link>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hidden">
        <div id="app">{{ reactMarkup }}</div>

        <!-- Here is the code that pulls our initial state down from the application -->
        <script type="application/javascript">
            window.__INITIAL_STATE__ = JSON.stringify({{ initialState }});
            console.log(window.__INITIAL_STATE__);
        </script>

        <!-- Then we load our react javascript bundle to take over from the static content -->
        <script type="application/javascript" src="/jsx/bundle.js"></script>

    </body>
</html>
